*{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    box-sizing: border-box;
    line-height: 1.6;
}

h2{
    text-align: center;
}

body{
    background: #f5f5f5;
}

main{
    display: flex;
    min-height: 100vh;
    width: 100%;
    justify-content: center;
    align-items: center;
}

.container{
    display: flex;
    flex-direction: column;
    width: 560px;
}

.form{
    padding: 15px 20px ;
    background: #fff;
    border-radius: 5px;
    box-shadow: 0 4px 8px 0 rgba(20, 20, 20, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.12);
}

input {
    border: 1px solid #c9c9c9;
    padding: 10px 12px;
    border-radius: 6px;
    width: 100%;
    transition: all 0.3s ease;
    font-size: 16px;
    line-height: 1.5;
    margin-bottom: 20px;
}

input:focus {
    outline: none;
    border: 1px solid #007bff;
    box-shadow: 0 0 0 2px rgba(0, 123, 255, 0.25);
    background-color: #fff;
}


.is-invalid {
    border: 1px solid #dc3545;
    box-shadow: 0 0 0 2px rgba(220, 53, 69, 0.25);
}

.is-invalid:focus {
    border: 1px solid #dc3545;
    box-shadow: 0 0 0 2px rgba(220, 53, 69, 0.5);
}

.is-valid {
    border: 1px solid #28a745;
    box-shadow: 0 0 0 2px rgba(40, 167, 69, 0.25);
}

.is-valid:focus {
    border: 1px solid #28a745;
    box-shadow: 0 0 0 2px rgba(40, 167, 69, 0.5);
}

.btnlogin{
    width: 100%;
    background-color: #007bff;
    color: #fff;
    font-weight: bold;
    font-size: 1em;
    border-radius: 8px;
    border: none;
    padding: 5px ;
}